body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  color: #2196f3;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logos {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logof {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.connection {
  text-decoration: none;
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.connection:hover,
.connection:focus {
  color: #2196f3;
}
li {
  list-style: none;
}
.address {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.connectionf {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.order-service {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.hide {
  display: none;
}

.title_section {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
